.hide{
    display: none !important;
}
@font-face {
    font-family: HelveticaNeue;
    src: url(resource/HelveticaNeue.ttc);
}
*{
    font-family: HelveticaNeue;
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 24px;
}

body{
    background-color: #F6F6F6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backarrow{
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    cursor: pointer;
}

#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#bottomborder{
    position: absolute;
    width: 30%;
    height: 50%;
    left: 9%;
    border-bottom: solid 2px black;
}

#emp_info, #laptop{
    background-color: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#fullname, #laptopName{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 49% 49%;
    clear: both;
}

#laptopCore{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 32% 32% 32%;
}

#memory, #date_price{
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    grid-template-columns: 49% 49%;
}

/* input */
.input{
    padding: 0;
    margin-top: 20px;
}

.input label{
    font-weight: bold;
}

.input input{
    width: 100%;
    border: solid 1.8px #8AC0E2;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

input:focus {
    outline: none;
}

.input p{
    margin: 0;
    font-size: 12px;
    opacity: 0.5;
}

/* select */
.form-select{
    background-image: url('resource/option_arrow.png');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 20px 20px;
    appearance: none;
    font-size: 1rem;
    background-color: #EBEBEB;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    height: fit-content;
    padding: 11px;
    margin-top: 20px;
}

.form-select:focus{
    outline: none;
    box-shadow: none;
}

.form-select option{
    background-color: white;
}

/* image input */
.image_free{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8ac0e72f;
    width: 100%;
    height: fit-content;
    border: dashed 2px #62A1EB;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 50px 0;
    overflow: hidden;
}

.image_free > input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image_free > h4{
    text-align: center;
    color: #62A1EB;
    letter-spacing: 0.5px;
    line-height: 28px;
}

.image_free > h5{
    display: block;
    background-color: #62A1EB;
    color: white;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.5px;
    padding: 10px 40px;
}

#laptopphoto{
    border-radius: 18px;
}

.image_occupied{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: transparent !important;
    padding: 0;
}

.image_occupied > input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image_occupied > #icon{
    float: left;
    width: 24px;
}

.image_occupied > h4{
    width: fit-content !important;
    height: fit-content;
    float: left;
    padding: 0;
    margin: 0 5px;
    font-weight: normal;
    font-size: 12px;
    color: black !important;
}

.image_occupied > h5{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: fit-content;
    background-color: #62A1EB;
    color: white;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.5px;
    padding: 10px 40px;
    margin: 0;
}

.image_occupied > p{
    font-size: 12px;
    color: #5F5F5F;
}

#priceinput{
    width: 100%;
    display: flex;
    border: solid 1.8px #8AC0E2;
    border-radius: 8px;
    padding: 9px;
    margin: 10px 0;
}

#priceinput > *{
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: medium;
}

hr{
    margin: 50px 0;
}

#backbtn{
    display: block;
    background-color: transparent;
    color: #62A1EB;
    border: none;
    margin-top: 50px;
    float: left;
    cursor: pointer;
    clear: left;
}

#submit{
    display: block;
    background-color: #62A1EB;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    margin-top: 50px;
    float: right;
    cursor: pointer;
    clear: right;
}

#logo{
    padding: 20px;
}

/*pop up window*/
#popupback{
    position: absolute;
    background-color: grey;
    height: 100%;
}

#popup{
    position: relative;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}

#tolist{
    display: block;
    background-color: #62A1EB;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}

#tolist a{
    display: block;
    padding: 15px 50px;
    color: white;
    text-decoration: none;
}

#tomain{
    display: block;
    background-color: transparent;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

#tomain a{
    color: #62A1EB;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    [class*="col-"] {
        width: 100% !important;
    }

    #backarrow{
        position: absolute;
        margin: 20px;
        top: 20px;
        left: 0;
        cursor: pointer;
    }
    
    #nav{
        justify-content: center;
    }

    #bottomborder{
        padding-top: 15%;
        color: #898989;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        justify-self: center;
        border: none;
        font-weight: normal;
    }

    #emp_info, #laptop{
        padding: 0;
        margin: 0;
    }

    #fullname, #laptopName, #laptopCore, #memory, #date_price{
        grid-template-columns: 100%;
    }

    .image_occupied > h4{
        margin: 0 5px 0 30px;
    }

    .image_occupied > #icon{
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
    }

    #icon{
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }

    .image_occupied > h5{
        padding: 10px;
    }

    #logo{
        display: none;
    }

    #popup{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        justify-content: flex-end;
    }

    #tolist{
        margin-top: 70px;
    }
    #tomain{
        margin-bottom: 70px;
    }
}